.col-sm-6.col-sm-offset-3.r-form-1-box.wow.fadeInUp
  .r-form-1-bottom
    .loader{style: "display:none;"}
      #loading
        %img#loading-image{:alt => "Loading...", :src => "/assets/home/ajax-loader.png"}/
    = form_for (@transfer), html: { class: "form-horizontal form-align", multipart: true, id: "transfer_form" } do |f|
      - if @transfer.errors.any?
        #error_explanation
          %h2
            = pluralize(@transfer.errors.count, "error")
            prohibited this article from being saved:
          %ul
            - @transfer.errors.full_messages.each do |message|
              %li
                = message
      .form-group
        = f.email_field :email_to, required: true, placeholder: 'Email To', class: 'r-form-1-email_to form-control'
      .form-group
        = f.email_field :email_from, required: true, placeholder: 'Email From', class: 'form-control'
      .form-group
        = f.text_area :message, placeholder: 'Message', class: 'r-form-1-about-yourself form-control'
      .form-group
        = f.fields_for :transfer_attachments do |ff|
          / = ff.label :avatar
          / %br/
          / = ff.file_field :avatar, :multiple => true, name: "transfer_attachments[avatar][]", required: true
          .image-upload
            %label{:for => "file-input"}
              %span.fa.fa-upload.fa-2x
            = ff.file_field :avatar, :multiple => true, name: "transfer_attachments[avatar][]", id:"file-input", required: true

      %button.btn{:type => "submit"} Transfer

:coffeescript

  $(document).ready ->
    $(".loader").hide()

  $('#transfer_form').submit (event) ->
    $(".loader").show()